extends baseEmail

block content
  p Hi #{firstName},
  p We regret to inform you that your GarbaPass application has been rejected.
  p If you believe this is a mistake or would like to appeal this decision, please contact our support team for further assistance.
  p We appreciate your interest in our event and hope to see you in the future.
  p - The GarbaPass Team
